@model UserAdminCreateModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



<form asp-action="Create" method="post" class="p-4s w-75 mx-auto shadow py-2">
    <div class="mb-3 px-3">
        <label>Kullanıcı Adı :</label>
        <span class="text-danger" asp-validation-for="@Model.UserName"></span>
        <input asp-for="@Model.UserName" class="form-control" />
    </div>
    <div class="mb-3 px-3 ">
        <label>Email :</label>
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
        <input type="email" asp-for="@Model.Email" class="form-control" />
    </div>

    <div class="mb-3 px-3 ">
        <label>İsim :</label>
        <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
        <input asp-for="@Model.FirstName" class="form-control" />
    </div>

    <div class="mb-3 px-3 ">
        <label>Soyisim :</label>
        <span class="text-danger" asp-validation-for="@Model.LastName"></span>
        <input asp-for="@Model.LastName" class="form-control" />
    </div>

    <div class="mb-3 px-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
    <div class="text-danger mt-2" asp-validation-summary="ModelOnly"></div>
</form>
